.conteudo {
  background-color: #151f42;
  text-align: center;
  width: 450px;
  height: 350px;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  gap: 30px;
  border-radius: 50px;
  padding: 1%;
}

.titulo {
  font-size: 2rem;
}

.botao {
  color: #fff;
  background-color: #7569c9;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.botao:hover {
  background-color: #fff;
  color: #7569c9;
  transform: scale(1.1);
}
