.bannerHome{
    min-height: 270px;
    background: linear-gradient(to bottom, #151F42 30%, #7569C9 100%);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px 0;
}

.tituloBanner{
    font-size: 2.375rem;
    font-weight: 800;
    width: 520px;

}

.subtituloBanner{
    font-size: 1.125rem;
    font-weight: normal;
    width: 650px;
}

.negrito {
    font-weight: 600;
}