.banner {
    background: linear-gradient(to bottom, #151F42 30%, #7569C9 100%);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5% 0;
}

.titulo {
    font-size: 2.375rem;
    width: 525px;
}

.subtitulo {
    font-size: 1.125rem;
    font-weight: normal;
    width: 444px;
}
