.botaoCabecalho {
  background-color: #7569c9;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 75px;
  font-size: 1.125rem;
  width: 200px;
  padding: 0 10px;
  font-weight: 600;
  transition: all 0.5s ease;
}

.botaoCabecalho:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #7569c9;
}

.botaoBanner {
  background-color: #fff;
  color: #7569c9;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2 ease;
  width: 200px;
  height: 55px;
  font-size: 1.125rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.botaoBanner:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #151f42;
}

.botaoEngrenaldo {
  background-color: #fff;
  color: #7569c9;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.botaoEngrenaldo:hover {
  text-decoration: underline;
  font-size: 1.3rem;
}

.botaoFooter {
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 16px;
}

.botaoFooter:hover {
  color: #7569c9;
  font-size: 18px;
}

.botaoRepositorio {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #151f42;
  border: 2px solid #fff;
  transition: all 0.2 ease;
  width: 250px;
  height: 75px;
  border-radius: 13px;
  border: 2px solid #fff;
  font-weight: 600;
  transition: all 0.5s ease;
  margin: 3% auto;
  font-size: 1.2rem;
}

.botaoRepositorio:hover {
  color: #151f42;
  background-color: #fff;
  transform: scale(1.1);
}
