.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 450px;
    background-color: #fff;
    border-radius: 20%
}

.foto {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.nome {
    margin-top: 10px;
    font-size: 1.6rem ;
    font-weight: 600; 
}

.rm {
    color: #7569c9;
    font-weight: 600;
    font-size: 1.2rem;
}
 
.icone {
    color: #000;
    margin: 2px;
    transition: all 0.5s ease;
}

.icone:hover {
    color: #7569c9;
    transform: scale(1.1);
}