.menu{
  display: flex;
  gap: 0 70px;
  margin-left: 90px;
}

.links {
  font-weight: 600;
  color: #fff;
  padding: 28px;
  transition: all 0.5s ease;
}

.links:hover {
  font-size: 1.125rem;
}

.linkAtivo {
  color: #7569c9
  ;
}
