.links,
.titulo {
  color: #fff;
}

.titulo {
  font-weight: 600;
}

.menus {
  display: flex;
  gap: 100px;
}

.links {
    transition: all 0.5s ease;
}

.links:hover {
  font-size: 1.125rem;
    color: #7569C9;
}