.hamburger {
<<<<<<< HEAD
  display: none;
=======
  position: relative;
  display: none;
  z-index: 1000;
  opacity: 50%;
  transition: 0.3s all ease-in-out;
}

.separadorActive {
  position: relative;
  margin-top: 110px;
  width: 200px;
}

.separador {
  display: none;
}

.divMenu {
  border-radius: 5px;
  height: 340px;
  gap: 1em;
  background-color: #180d2b;
  opacity: 95%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: 0.3s all ease-in-out;
>>>>>>> main
}

.menu {
  display: flex;
  gap: 70px;
  margin-left: 90px;
}

.links {
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> main
  font-weight: 600;
  color: #fff;
  padding: 28px;
  transition: all 0.5s ease;
}

.links:hover {
  font-size: 1.125rem;
}

.linkAtivo {
  color: #7569c9;
}

/* Responsividade */
@media (max-width: 1250px) {
  .menu {
    gap: 35px;
    margin-left: 45px;
  }
}

@media (max-width: 1000px) {
  .menu {
    gap: 20px;
    margin-left: 20px;
  }

  .links {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .menu {
    gap: 5px;
    margin-left: 10px;
  }

  .links {
    padding: 15px;
  }
}

@media (max-width: 850px) {
  .menu {
    gap: 2px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
  }

  .links {
    padding: 10px;
  }
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }

  .hamburger {
    margin: 0 auto;
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .hamburger:hover {
    color: #7569c9;
    transform: scale(1.1);
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    gap: 7px;
=======
    align-items: center;
    gap: 40px;
    margin-top: 0.7em;
>>>>>>> main
  }
}

@media (max-width: 450px) {
  .hamburger {
    font-size: 32px;
    margin-right: 15px;
  }

  .menuOpen {
    align-items: flex-start;
    justify-content: flex-start;
  }
<<<<<<< HEAD
=======

  .separadorActive {
    width: 175px;
  }
>>>>>>> main
}
